/* body {
    color: rgb(130, 238, 161);
} */

/* selector a partir de una etiqueta */

h2 {
    color: blue;
}

/* selector a partit de una class */
.texto-verde {
    color: green;
}
footer {
    color: pink;
}
/* selector a partir de un id */
#parrafo-rosa {
    color: blueviolet;
    font-size: 30px;
}
/* selector a partir de etiquetas combinadas  */
header p {
    color: aqua;
}